html {
    background-color: #1f2937;
}

body {
    font-family: roboto,Verdana, Geneva, Tahoma, sans-serif;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

header,
.section-1,
footer {
    background-color: #1f2937;
}

.section-1 {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 0;
}

#card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-3 {
   background-color: #e5e7eb;
   margin: 0;
}

.section-4 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    display: flex
}

button,
.blue-container {
    background-color: #3882f6;
}

#logo-img {
    width: 100px;
}

#style-img {
    width: 300px;
}

.char-image {
    width: 150px;
}
.white-text {
    color: whitesmoke;
}